<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <% (1..5).to_a.each do |item| %>
      <a class="panel-block">Trend <%= item %></a>
    <% end %>
  </nav>
</div>
